body { background: #861866; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 38px; display: flex; }
.block-product-0 { color: #e13a33; font-size: 12px; margin-bottom: 5px; }
.block-metrics-1 { color: #2c4bcf; font-size: 20px; margin-bottom: 5px; }
.block-notify-2 { color: #b6a4be; font-size: 14px; margin-bottom: 5px; }
.block-invoice-3 { color: #805898; font-size: 12px; margin-bottom: 5px; }
.block-search-4 { color: #618ce8; font-size: 18px; margin-bottom: 5px; }
.block-user-5 { color: #631d29; font-size: 15px; margin-bottom: 5px; }
.block-search-6 { color: #fdd445; font-size: 19px; margin-bottom: 5px; }
.block-router-7 { color: #b22068; font-size: 17px; margin-bottom: 5px; }
.block-cache-8 { color: #2c49d8; font-size: 15px; margin-bottom: 5px; }
.block-helper-9 { color: #399a41; font-size: 17px; margin-bottom: 5px; }
.block-user-10 { color: #513ced; font-size: 19px; margin-bottom: 5px; }